* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
}

header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: grid;
    /* background: #f58723; */
    /* background: #d53d0c; */
    /* background: #880606; */
    /* background: #85e6c0; */
    background: #71dbd2;
    color: #fcfcfc;
    /* color: #000000; */
    /* box-shadow: 10px 10px 10px 10px #d4c9ad; */
    height: 20vh;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7ba99;
}

a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}

a:hover {
    color: #6bb39b;
}

main {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    height: 60vh;
}

.item {
    width: 100px;
    height: 100px;
    background: red;
    box-shadow: 5px 5px 5px 5px #daf3ea;
    grid-column: 1 / 4;
    grid-row: 1 / -1;
}

footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #85e6c0; */
    background: #71dbd2;
    color: #fcfcfc;
    height: 20vh;
    font-size: 20px;
}