* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    background: #71dbd2;
    color: #fcfcfc;
    height: 15vh;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7ba99;
}

a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}

a:hover {
    color: #6bb39b;
}

main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
    padding: 10px;
}

article {
    height: 500px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #daf3ea;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}

img {
    width: 200px;
    height: 200px;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #71dbd2;
    color: #fcfcfc;
    height: 15vh;
    font-size: 20px;
}