* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    background: #71dbd2;
    color: #fcfcfc;
    height: 15vh;
}

.logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

.menu {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7ba99;
}

a {
    color: #fcfcfc;
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
}

a:hover {
    color: #6bb39b;
}

main {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 2fr);
    gap: 1rem;
    padding: 10px;
}

article {
    height: 500px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #daf3ea;
    display: grid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
}

.desc {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

img {
    width: 200px;
    height: 200px;
}

footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #71dbd2;
    color: #fcfcfc;
    height: 15vh;
    font-size: 20px;
}

#btn {
    cursor: pointer;
}

#btn:hover {
    color: #6bb39b;
}

table {
    border-collapse: collapse;
}

tr {
    border: 1px solid #71dbd2;
}

th {
    padding: 5px;
    text-align: center;
    background: #71dbd2;
    color: #fcfcfc;
}

td {
    border: 1px solid #71dbd2;
    padding: 10px;
}

aside {
    width: 300px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 5px 5px 5px 5px #daf3ea;
    position: fixed;
    right: -100vw;
    max-height: 100vh;
}

#carrinho {
    display: grid;
}

#btnClose {
    color: #71dbd2;
    cursor: pointer;
}

#btnClose:hover {
    color: #4f7b6c;
}

.addTexto {
    cursor: pointer;
}

.addTexto:hover {
    color: #4f7b6c;
}

.cabecalho-carrinho {
    display: grid;
    padding: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #71dbd2;
}

.cabecalho-carrinho > h3 {
    grid-column: 1 / 2;
    grid-row: 1;
}

.cabecalho-carrinho > i {
    grid-column: 2 / 4;
    grid-row: 1;
    font-size: 20px;
}

.conteudo-carrinho {
    grid-column: 1 / 4;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

@media(max-width: 600px){

    h1 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 20px;
    }

    main {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media(min-width: 600px){
    main {
        grid-template-columns: repeat(3, 2fr);
    }
}

@media(min-width: 920px){
    main {
        grid-template-columns: repeat(4, 2fr);
    }
}
